@inherits LayoutComponentBase

<PageTitle>SIA - Gestão de Aeronaves</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <NavLink class="nav-link" href="autentica">
                <span class="oi oi-key" aria-hidden="true"></span> Log in
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
